/* Stylesheet by Kim Sundeen, 2017 */
/* Used for scaling both maps on 1 page
#osMapId, #bubblemanId { 
    height: 200px; 
}
*/

#schoolmap { 
    height: 400px; 
    width: 80%;
    display: inline-block;
}

#panel {
    width: 26%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 50%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}


.leaflet-popup-content p {
    margin: 0.2em 0; /* this didn't do anything */
    line-height: 0.5; 
}


